.table {
  text-align: center;
}

body {
  background-color: gray;
  align-items: center;
}

table {
  background-color: beige;
  align-items: center;
}

h1 {
  font-size: 45px;
  color: black;
}

h2 {
  text-align: center;
  font-size: 25px;
}

.box {
  align-items: center;
}

thead,
tbody {
  text-align: center;
}
